[client]
user=admin
password="6NNh09nZdEeDb08QsrrU"
host=reporting-ro.cluster-custom-czz7nbdwrez3.af-south-1.rds.amazonaws.com
database=DDE-prd
ssl-ca=/home/ec2-user/global-rds-bundle.pem
ssl-mode=VERIFY_CA
