[client]
user=admin
password="f2ftQIF2Y_k3p?AqS^8C"
host=dopa-dde-uat.cluster-cpvup49vxg3r.af-south-1.rds.amazonaws.com
database=DDE-prd
ssl-ca=/home/ec2-user/global-rds-bundle.pem
ssl-mode=VERIFY_CA
