[client]
user=ReadOnly
host=prd-dde.cluster-czz7nbdwrez3.af-south-1.rds.amazonaws.com
#host=reporting-ro.cluster-custom-czz7nbdwrez3.af-south-1.rds.amazonaws.com
database=DDE-prd
ssl-ca=/home/ec2-user/global-rds-bundle.pem
ssl-mode=VERIFY_CA
password="br85KtWyxp3jKAq1bv%0"
