apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluent-bit
  namespace: amazon-cloudwatch
  labels:
    k8s-app: fluent-bit
spec:
  selector:
    matchLabels:
      k8s-app: fluent-bit
  template:
    metadata:
      labels:
        k8s-app: fluent-bit
    spec:
      serviceAccountName: fluent-bit
      containers:
        - name: fluent-bit
          image: public.ecr.aws/aws-observability/aws-for-fluent-bit:latest
          volumeMounts:
            - name: config-volume
              mountPath: /fluent-bit/etc/
              subPath: michael.conf
      volumes:
        - name: config-volume
          configMap:
            name: fluent-bit-config
            items:
              - key: michael.conf
                path: fluent-bit.con
